.Video {
  width: 100%;
  display: none;
  position: relative;
}

.Video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.Video__content:focus {
  outline: none;
}

.Video.Video__loaded {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Video__scrubArea {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 1em);
  height: calc(100% - 1em);
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 2;
}

:root {
  --Video__progress: 0;
  --Video__progressPadding: 6;
  --Video__progressSize: 2;
  --Video__progressBarSize: calc(var(--Video__progressSize) / 2);
  --Video__progressDotSize: calc(var(--Video__progressSize) * 3);
}

.Video__progress {
  position: absolute;
  background-color: hsla(var(--Theme__primary1H), calc(var(--Theme__primary1S) * 1%), calc(var(--Theme__primary1L) * 1%), 0.6);
  padding: calc((var(--Video__progressPadding) / 10) * 1em);
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: calc(var(--Video__progressSize) * 1px);
  opacity: 0;
  transition: opacity var(--Theme__transitionMediumEase);
  z-index: 3;
}

.Video:hover .Video__progress {
  opacity: 1;
}

.Video__track {
  background-color: hsla(var(--Theme__primary6H), calc(var(--Theme__primary6S) * 1%), calc(var(--Theme__primary6L) * 1%), 0.2);
  border-radius: calc(var(--Video__progressSize) * 1px);
  width: 100%;
  height: calc(var(--Video__progressSize) * 1px);
  z-index: 1;
}

.Video__bar {
  background-color: var(--Theme__primary900);
  border-radius: calc(var(--Video__progressSize) * 1px);
  position: absolute;
  left: calc((var(--Video__progressPadding) / 10) * 1em);
  width: calc((var(--Video__progress) * 1%) - (((var(--Video__progressPadding) * 2) / 10) * 1em));
  height: calc(var(--Video__progressSize) * 1px);
  z-index: 2;
}

.Video__dot {
  position: absolute;
  top: 50%;
  right: 0;
}

.Video__dot:after {
  content: "";
  background-color: var(--Theme__primary900);
  border-radius: 100%;
  width: calc(var(--Video__progressDotSize) * 1px);
  height: calc(var(--Video__progressDotSize) * 1px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
