.Guide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--ZIndex__guide);
  pointer-events: none;
}

.Guide__toggle {
  background-color: hsla(var(--Theme__accent2H), calc(var(--Theme__accent2S) * 1%), calc(var(--Theme__accent2L) * 1%), 0.8);
  border: 0;
  border-radius: 100%;
  padding: 1em;
  color: var(--Theme__text100);
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: 2vmin;
  height: 2vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  font-size: 0.75em;
  line-height: 1;
  cursor: pointer;
}

.Guide__toggle:focus {
  outline: none;
}

.Guide__modal {
  background-color: hsla(var(--Theme__primary2H), calc(var(--Theme__primary2S) * 1%), calc(var(--Theme__primary2L) * 1%), 0.9);
  border-radius: 1em;
  padding: 2em;
  display: none;
  flex-direction: column;
  align-items: stretch;
  gap: 2em;
  font-size: 0.75em;
  max-height: 90vh;
  max-width: 90vw;
  overflow: scroll;
  pointer-events: all;
}

.Guide__show .Guide__modal {
  display: flex;
}

:root {
  --Guide__keySize: 50;
}

.Guide__intro,
.Guide__content {
  display: flex;
  flex-direction: column;
  gap: calc((var(--Guide__keySize) / 8) * 0.1em);
}

.Guide__contentItem {
  width: 100%;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc((var(--Guide__keySize) / 10) * 0.1rem);
  gap: calc((var(--Guide__keySize) / 2) * 0.1em);
}

.Guide__key {
  font-family: var(--Theme__fontDisplay);
  font-weight: var(--Theme__fontWeightBold);
  flex: 0 0 calc(((var(--Guide__keySize) * 2) + (var(--Guide__keySize) / 4)) * 0.1em);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  gap: calc((var(--Guide__keySize) / 4) * 0.1em);
  line-height: 1;
}

.Guide__keyItem {
  background-color: var(--Theme__accent200);
  border-bottom: 2px solid var(--Theme__accent600);
  border-radius: 6px;
  font-size: 1.5em;
  color: var(--Theme__text200);
  width: calc((var(--Guide__keySize) / 2) * 0.1em);
  height: calc((var(--Guide__keySize) / 2) * 0.1em);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.Guide__message {
  font-size: 1.75em;
}
