.Grid {
  padding: calc(var(--Grid__gapCount) * 0.2vmax);
  gap: calc(var(--Grid__gapCount) * 0.2vmax);
  max-width: 100vw;
}

.Grid.Grid__zoomer.Grid__zoomerTeardrop {
  cursor: url('../Zoomer/zoomer-teardrop-cursor.svg') 16 16, auto;
}

.Grid.Grid__zoomer.Grid__zoomerPinpoint,
.Grid.Grid__zoomer.Grid__zoomerSquare {
  cursor: none;
}

.Grid.Grid__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Grid.Grid__flex::after {
  content: "";
  flex-grow: 999999999;
}

.Grid.Grid__square {
  display: grid;
  grid-template-columns: repeat(var(--Grid__squareSizeCount), 1fr);
}

.Grid.Grid__column {
  justify-self: center;
  display: grid;
  width: calc(var(--Grid__columnSizeCount) * 1%);
  max-width: 100%;
}

.Grid.Grid__solo {
  display: grid;
  align-self: start;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-auto-rows: 100%;
  justify-items: center;
  align-items: center;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
